@import url(../css/common.css);
#container {
  width: 100%;
  height: 70vh;
  position: relative;
}
@media screen and (max-width: 480px) {
  #container {
    height: 90vh;
  }
}
#container .pageTitle {
  text-align: center;
  margin-top: 50px;
  font-size: 25px;
  color: #444;
}
#container .loginWrap {
  width: 600px;
  height: 500px;
  background: #fff;
  -webkit-filter: drop-shadow(1px 1px 5px #666);
          filter: drop-shadow(1px 1px 5px #666);
  position: absolute;
  top: 50%;
  right: 50%;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
}
@media screen and (max-width: 480px) {
  #container .loginWrap {
    width: 80%;
    -webkit-filter: none;
            filter: none;
  }
}
#container .loginWrap .popupColse {
  display: block;
  width: 100%;
  height: 40px;
  text-align: center;
  cursor: pointer;
  padding: 5px 0;
}
#container .loginWrap .popupColse > img {
  height: 100%;
}
#container .loginWrap .memberSelect {
  display: block;
  width: 100%;
}
#container .loginWrap .memberSelect > span {
  background: #ccc;
  display: inline-block;
  width: 50%;
  height: 45px;
  float: left;
}
#container .loginWrap .memberSelect > span.tab {
  background: #E60012;
}
#container .loginWrap .memberSelect > span a {
  display: block;
  text-align: center;
  line-height: 45px;
  font-size: 16px;
  color: #fff;
  font-weight: bold;
}
#container .loginWrap .loginTab {
  position: relative;
  width: 100%;
  margin: 0 auto;
}
#container .loginWrap .loginTab > li {
  position: absolute;
  text-align: center;
  width: 100%;
  line-height: 2;
  display: none;
}
#container .loginWrap .loginTab > li.onThis {
  display: block;
}
#container .loginWrap .loginTab .memberLoginWrap .loginContents .meminputBox {
  width: 350px;
  margin: 0 auto;
}
@media screen and (max-width: 480px) {
  #container .loginWrap .loginTab .memberLoginWrap .loginContents .meminputBox {
    width: 300px;
  }
}
#container .loginWrap .loginTab .memberLoginWrap .loginContents .meminputBox > span {
  display: block;
  padding: 30px 0;
  font-size: 1em;
}
@media screen and (max-width: 480px) {
  #container .loginWrap .loginTab .memberLoginWrap .loginContents .meminputBox > span {
    padding: 20px 0;
  }
}
#container .loginWrap .loginTab .memberLoginWrap .loginContents .meminputBox > label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #ccc;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5px 5px 5px 15px;
  margin: 5px 0;
}
@media screen and (max-width: 480px) {
  #container .loginWrap .loginTab .memberLoginWrap .loginContents .meminputBox > label {
    padding: 5px 5px 5px 10px;
  }
}
#container .loginWrap .loginTab .memberLoginWrap .loginContents .meminputBox > label span {
  font-weight: bold;
}
@media screen and (max-width: 480px) {
  #container .loginWrap .loginTab .memberLoginWrap .loginContents .meminputBox > label span {
    font-size: 0.9em;
  }
}
#container .loginWrap .loginTab .memberLoginWrap .loginContents .meminputBox > label input {
  width: 230px;
  outline: none;
  border: none;
  border-left: 1px solid #ccc;
  text-indent: 10px;
}
@media screen and (max-width: 480px) {
  #container .loginWrap .loginTab .memberLoginWrap .loginContents .meminputBox > label input {
    width: 200px;
  }
}
#container .loginWrap .loginTab .memberLoginWrap .loginContents > p {
  width: 100%;
}
@media screen and (max-width: 480px) {
  #container .loginWrap .loginTab .memberLoginWrap .loginContents > p {
    text-align: left;
  }
}
#container .loginWrap .loginTab .memberLoginWrap .loginContents > p span {
  padding: 0 65px;
}
@media screen and (max-width: 480px) {
  #container .loginWrap .loginTab .memberLoginWrap .loginContents > p span {
    padding: 0;
  }
}
#container .loginWrap .loginTab .memberLoginWrap .loginContents .loginBtnBox {
  width: 350px;
  height: 40px;
  margin: 20px auto;
}
@media screen and (max-width: 480px) {
  #container .loginWrap .loginTab .memberLoginWrap .loginContents .loginBtnBox {
    width: 300px;
  }
}
#container .loginWrap .loginTab .memberLoginWrap .loginContents .loginBtnBox a {
  display: inline-block;
  height: 100%;
  line-height: 40px;
  float: left;
  color: #fff;
}
@media screen and (max-width: 480px) {
  #container .loginWrap .loginTab .memberLoginWrap .loginContents .loginBtnBox a {
    width: 49%;
  }
}
#container .loginWrap .loginTab .memberLoginWrap .loginContents .loginBtnBox > .btnLogin {
  width: 70%;
  background-color: #b40c1a;
  margin-right: 10px;
}
#container .loginWrap .loginTab .memberLoginWrap .loginContents .loginBtnBox > .btnLogin:hover {
  background-color: #8d0b16;
}
@media screen and (max-width: 480px) {
  #container .loginWrap .loginTab .memberLoginWrap .loginContents .loginBtnBox > .btnLogin {
    width: 49%;
    margin-right: 3px;
  }
}
#container .loginWrap .loginTab .memberLoginWrap .loginContents .loginBtnBox > .btnJoin {
  width: 27%;
  background-color: #666;
}
@media screen and (max-width: 480px) {
  #container .loginWrap .loginTab .memberLoginWrap .loginContents .loginBtnBox > .btnJoin {
    width: 49%;
  }
}
#container .loginWrap .loginTab .memberLoginWrap .loginContents .soc {
  width: 350px;
  text-align: left;
  margin: 0 auto;
}
#container .loginWrap .loginTab .memberLoginWrap .loginContents .soc > a {
  padding-left: 30px;
  color: blue;
}
#container .loginWrap .loginTab .memberLoginWrap .loginContents .loginBtnBox_social {
  width: 350px;
  height: 40px;
  margin: 20px auto;
}
@media screen and (max-width: 480px) {
  #container .loginWrap .loginTab .memberLoginWrap .loginContents .loginBtnBox_social {
    width: 300px;
  }
}
#container .loginWrap .loginTab .memberLoginWrap .loginContents .loginBtnBox_social a {
  display: inline-block;
  height: 100%;
  line-height: 40px;
  font-weight: bold;
}
#container .loginWrap .loginTab .memberLoginWrap .loginContents .loginBtnBox_social .naverLogin {
  width: 50%;
  color: #fff;
  background-color: rgb(36, 196, 31);
}
#container .loginWrap .loginTab .memberLoginWrap .loginContents .loginBtnBox_social .naverLogin:hover {
  background-color: darkgreen;
}
@media screen and (max-width: 480px) {
  #container .loginWrap .loginTab .memberLoginWrap .loginContents .loginBtnBox_social .naverLogin {
    width: 49%;
  }
}
#container .loginWrap .loginTab .memberLoginWrap .loginContents .loginBtnBox_social .kakaoLogin {
  width: 49%;
  background-color: gold;
  color: rgb(54, 31, 0);
}
#container .loginWrap .loginTab .memberLoginWrap .loginContents .loginBtnBox_social .kakaoLogin:hover {
  background-color: goldenrod;
}
#container .loginWrap .loginTab .nomemberLoginWrap {
  text-align: left;
}
#container .loginWrap .loginTab .nomemberLoginWrap .loginContents {
  width: 600px;
  margin: 0 auto;
}
@media screen and (max-width: 480px) {
  #container .loginWrap .loginTab .nomemberLoginWrap .loginContents {
    width: 300px;
  }
}
#container .loginWrap .loginTab .nomemberLoginWrap .loginContents > div {
  padding: 50px 0 0;
}
@media screen and (max-width: 480px) {
  #container .loginWrap .loginTab .nomemberLoginWrap .loginContents > div {
    padding: 10px 0 0;
  }
}
#container .loginWrap .loginTab .nomemberLoginWrap .loginContents .nomemberLeft {
  float: left;
  width: 50%;
  font-size: 0.8em;
}
@media screen and (max-width: 480px) {
  #container .loginWrap .loginTab .nomemberLoginWrap .loginContents .nomemberLeft {
    width: 100%;
  }
}
#container .loginWrap .loginTab .nomemberLoginWrap .loginContents .nomemberLeft .desc {
  padding: 10px 30px 0 50px;
  border-right: 1px solid #ccc;
  height: 220px;
}
@media screen and (max-width: 480px) {
  #container .loginWrap .loginTab .nomemberLoginWrap .loginContents .nomemberLeft .desc {
    padding: 0 10px 0 20px;
    height: 130px;
    border-right: none;
    border-bottom: 1px solid #ccc;
  }
}
#container .loginWrap .loginTab .nomemberLoginWrap .loginContents .nomemberLeft .desc li {
  list-style: circle;
  line-height: 2;
}
#container .loginWrap .loginTab .nomemberLoginWrap .loginContents .nomemberRight {
  float: left;
  width: 40%;
  padding-left: 30px;
}
@media screen and (max-width: 480px) {
  #container .loginWrap .loginTab .nomemberLoginWrap .loginContents .nomemberRight {
    float: none;
    width: 100%;
    padding-left: 0;
  }
}
#container .loginWrap .loginTab .nomemberLoginWrap .loginContents .nomemberRight div > label {
  width: 200px;
}
#container .loginWrap .loginTab .nomemberLoginWrap .loginContents .nomemberRight div > label span {
  display: block;
  font-weight: bold;
}
#container .loginWrap .loginTab .nomemberLoginWrap .loginContents .nomemberRight div > label input {
  border: 1px solid #ccc;
  height: 30px;
  width: 90%;
  text-indent: 10px;
}
@media screen and (max-width: 480px) {
  #container .loginWrap .loginTab .nomemberLoginWrap .loginContents .nomemberRight div > label input {
    width: 100%;
  }
}
#container .loginWrap .loginTab .nomemberLoginWrap .loginBtnBox_nomember {
  text-align: center;
  background: #b40c1a;
  width: 350px;
  height: 40px;
  margin: 30px auto 0;
  cursor: pointer;
}
@media screen and (max-width: 480px) {
  #container .loginWrap .loginTab .nomemberLoginWrap .loginBtnBox_nomember {
    width: 100%;
    margin: 15px auto 0;
  }
}
#container .loginWrap .loginTab .nomemberLoginWrap .loginBtnBox_nomember:hover {
  background-color: #8d0b16;
}
#container .loginWrap .loginTab .nomemberLoginWrap .loginBtnBox_nomember > a {
  line-height: 40px;
  color: #fff;
}
#container .joinForm_box {
  width: 650px;
  margin: 50px auto 0;
}
@media screen and (max-width: 480px) {
  #container .joinForm_box {
    width: 300px;
  }
}
#container .joinForm_box .joinForm_wrap {
  width: 650px;
}
@media screen and (max-width: 480px) {
  #container .joinForm_box .joinForm_wrap {
    width: 100%;
  }
}
#container .joinForm_box .joinForm_wrap .join_title_Wrap {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}
#container .joinForm_box .joinForm_wrap .join_title_Wrap li {
  font-size: 1.3em;
  font-weight: bold;
  display: block;
  width: 33.3%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background-color: #ccc;
  border-right: 1px solid #ddd;
  color: #666;
}
@media screen and (max-width: 480px) {
  #container .joinForm_box .joinForm_wrap .join_title_Wrap li {
    font-size: 1em;
    width: 100%;
  }
}
#container .joinForm_box .joinForm_wrap .join_title_Wrap li:last-child {
  border-right: none;
}
#container .joinForm_box .joinForm_wrap .join_title_Wrap .select {
  background-color: #b40c1a;
  color: #fff;
}
#container .joinForm_box .joinForm_wrap form {
  background-color: #efefef;
  margin: 20px 0 0 0;
  padding: 30px;
}
@media screen and (max-width: 480px) {
  #container .joinForm_box .joinForm_wrap form {
    padding: 15px;
  }
}
#container .joinForm_box .joinForm_wrap form .joinSocial_wrap .social_login {
  display: inline-block;
}
#container .joinForm_box .joinForm_wrap form .joinSocial_wrap .social_login span {
  display: block;
  width: 200px;
  height: 30px;
  line-height: 30px;
  font-size: 1.3em;
  font-weight: bold;
  color: #666;
  text-align: center;
  position: relative;
}
@media screen and (max-width: 480px) {
  #container .joinForm_box .joinForm_wrap form .joinSocial_wrap .social_login span {
    font-size: 1em;
    text-align: left;
    padding-left: 10px;
  }
}
#container .joinForm_box .joinForm_wrap form .joinSocial_wrap .social_login span:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 5px;
  height: 25px;
  background-color: #fff;
}
#container .joinForm_box .joinForm_wrap form .joinSocial_wrap .social_login span:after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  width: 1px;
  height: 30px;
  background-color: #ccc;
}
@media screen and (max-width: 480px) {
  #container .joinForm_box .joinForm_wrap form .joinSocial_wrap .social_login span:after {
    display: none;
  }
}
#container .joinForm_box .joinForm_wrap form .joinSocial_wrap .socialBtn_wrap {
  display: inline-block;
  margin-left: 20px;
  width: 300px;
}
@media screen and (max-width: 480px) {
  #container .joinForm_box .joinForm_wrap form .joinSocial_wrap .socialBtn_wrap {
    margin-left: 0;
    width: 100%;
  }
}
#container .joinForm_box .joinForm_wrap form .joinSocial_wrap .socialBtn_wrap > a {
  display: inline-block;
  padding: 10px 0;
  font-size: 1.2em;
  font-weight: bold;
  border-radius: 3px;
  text-align: center;
}
#container .joinForm_box .joinForm_wrap form .joinSocial_wrap .socialBtn_wrap .naver {
  background-color: rgb(3, 199, 90);
  color: #fff;
  width: 49%;
}
#container .joinForm_box .joinForm_wrap form .joinSocial_wrap .socialBtn_wrap .kakao {
  background-color: gold;
  color: rgb(54, 31, 0);
  width: 49%;
}
#container .joinForm_box .joinForm_wrap form .joinSocial_wrap .email_login {
  padding-top: 50px;
  display: inline-block;
}
@media screen and (max-width: 480px) {
  #container .joinForm_box .joinForm_wrap form .joinSocial_wrap .email_login {
    padding-top: 30px;
  }
}
#container .joinForm_box .joinForm_wrap form .joinSocial_wrap .email_login span {
  display: block;
  width: 200px;
  height: 30px;
  line-height: 30px;
  font-size: 1.3em;
  font-weight: bold;
  color: #666;
  text-align: center;
  position: relative;
}
@media screen and (max-width: 480px) {
  #container .joinForm_box .joinForm_wrap form .joinSocial_wrap .email_login span {
    font-size: 1em;
    text-align: left;
    padding-left: 10px;
  }
}
#container .joinForm_box .joinForm_wrap form .joinSocial_wrap .email_login span:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 5px;
  height: 25px;
  background-color: #fff;
}
#container .joinForm_box .joinForm_wrap form .joinSocial_wrap .email_login span:after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  width: 1px;
  height: 30px;
  background-color: #ccc;
}
@media screen and (max-width: 480px) {
  #container .joinForm_box .joinForm_wrap form .joinSocial_wrap .email_login span:after {
    display: none;
  }
}
#container .joinForm_box .joinForm_wrap form .joinSocial_wrap .label_wrap {
  display: inline-block;
  width: 300px;
  height: 40px;
  line-height: 40px;
  margin-left: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}
@media screen and (max-width: 480px) {
  #container .joinForm_box .joinForm_wrap form .joinSocial_wrap .label_wrap {
    width: 100%;
    margin-left: 0;
  }
}
#container .joinForm_box .joinForm_wrap form .joinSocial_wrap .label_wrap label {
  padding-left: 10px;
  font-weight: bold;
}
#container .joinForm_box .joinForm_wrap form .joinSocial_wrap .label_wrap input {
  border: none;
  outline: none;
  padding-left: 20px;
}
@media screen and (max-width: 480px) {
  #container .joinForm_box .joinForm_wrap form .joinSocial_wrap .label_wrap input {
    padding-left: 5px;
  }
}
#container .joinForm_box .joinForm_wrap form .joinSocial_wrap .label_wrap #emailError {
  color: red;
  position: absolute;
  top: 30px;
}
#container .joinForm_box .joinForm_wrap .joinBtn_wrap {
  margin: 30px auto;
  text-align: center;
}
#container .joinForm_box .joinForm_wrap .joinBtn_wrap button {
  color: #fff;
  font-weight: bold;
  font-size: 1.3em;
  border: none;
  background: #E60012;
  width: 350px;
  height: 40px;
  line-height: 40px;
}
@media screen and (max-width: 480px) {
  #container .joinForm_box .joinForm_wrap .joinBtn_wrap button {
    width: 100%;
  }
}
#container .joinForm_box .joinForm_wrap .joinBtn_wrap button:hover {
  -webkit-filter: drop-shadow(1px 1px 2px #666);
          filter: drop-shadow(1px 1px 2px #666);
}