@import url(../css/common.css);

//반응형
$Mobile1279:1279px;
$Mobile1000:1000px;
$Mobile767:767px;
$Mobile480:480px;
@mixin respond($media){
    @media screen and (max-width:$media) {
        @content;
    }
} 

#noContent{
    // height: 510px;
    height: 60vh; 
    text-align: center;
    z-index: 50;
    position: relative;
    
    .no_imgBox{
        width: 100%;
        position: absolute;
        right: 50%;
        top: 50%;
        transform: translate(50%,-50%);

        img{
            width: 100px;
        }  

        .no_txtBox{

            >h3{
                font-size: 30px;
                @include respond($Mobile480){
                    font-size: 20px;
                }
            }
            >p{
                font-size: 16px;
                word-break: keep-all;
                @include respond($Mobile480){
                    font-size: 12px;
                }
            }
        }
    }
}