@import url(../css/common.css);

$mainColor:#E60012;
$hovColor:#C39C71;

//반응형
$Mobile1279:1279px;
$Mobile1000:1000px;
$Mobile767:767px;
$Mobile480:480px;

@mixin respond($media){
    @media screen and (max-width:$media) {
        @content;
    }
} 

#container{
    width: 100%;
    height: 70vh;
    position: relative;

    .pageTitle{
        text-align: center;
        margin-top: 50px;
        font-size: 25px;
        color: #444;
    }
    //로그인
    .loginWrap{
        width: 600px;
        height: 500px;
        background: #fff;
        filter: drop-shadow(1px 1px 5px #666);
        position: absolute;
        top: 50%;
        right: 50%;
        transform: translate(50%, -50%);

        @include respond($Mobile480){
            width: 100%;
        }
        .popupColse{
            display: block;
            width: 100%;
            height: 40px;
            text-align: center;
            cursor: pointer;
            padding: 5px 0;
            >img{
                height: 100%;
            }
            @include respond($Mobile480){
               opacity: 0;
            }
        }
        .memberSelect{
            display: block;
            width: 100%;
            >span{
                background: #ccc;
                display: inline-block;
                width: 50%;
                height: 45px;
                float: left;
               
                &.tab{
                    background: $mainColor;
                }
                a{
                    display: block;
                    text-align: center;
                    line-height: 45px;
                    font-size: 16px;  
                    color: #fff;
                    font-weight: bold;
                }                
            }
        }
        .loginTab{ //ul
            position: relative;
            width: 100%;
            margin: 0 auto;
            >li{
                position: absolute;
                text-align: center;
                width: 100%;
                line-height: 2;
                display: none;

                &.onThis{
                    display: block;
                }
            }
            .memberLoginWrap{ //li 회원

                .loginContents{

                    .meminputBox{
                        width: 350px;
                        margin: 0 auto;
                        >span{
                            display: block;
                            padding: 30px 0;
                            font-size: 1em;
                        }
                        >label{
                            display: flex;
                            border: 1px solid #ccc;
                            justify-content: space-between;
                            padding: 5px 5px 5px 15px;
                            margin: 5px 0;
                           
                            span{
                                font-weight: bold;                             
                            }
                            input{
                                width: 230px;
                                outline: none;
                                border: none;
                                border-left: 1px solid #ccc;
                                text-indent: 10px;
                            }

                        }
                        
                    }
                    >p{
                        width: 100%;
                        @include respond($Mobile480){
                            text-align: left;
                            padding-left: 20px;
                         }
                        span{
                            padding: 0 65px;
                            @include respond($Mobile480){
                                padding: 0;
                             }

                        }
                    }
                    .loginBtnBox{
                        width: 350px;
                        height: 40px;
                        margin: 20px auto;
                        
                        a{
                            display: inline-block;
                            height: 100%;
                            line-height: 40px;
                            float: left;
                            color: #fff;
                        }
                        >.btnLogin{
                            width: 70%;
                            background-color: #b40c1a;
                            margin-right: 10px;
                            &:hover{
                            background-color: #8d0b16;
                            }
                        }
                        >.btnJoin{
                            width: 27%;
                            background-color: #666;
                        }
                    }
                    .soc{
                        width: 350px;
                        text-align: left;
                        margin: 0 auto;
                        >a{
                            padding-left: 30px;
                            color: blue;
                        }
                    }
                    .loginBtnBox_social{
                        width: 350px;
                        height: 40px;
                        margin: 20px auto;                           
                        a{
                            display: inline-block;
                            height: 100%;
                            line-height: 40px;
                            font-weight: bold;
                        }
                        .naverLogin{
                            width: 50%;
                            color: #fff;
                            background-color: rgb(36, 196, 31);
                            &:hover{
                                background-color: darkgreen;
                            }
                        }
                        .kakaoLogin{
                            width: 49%;
                            background-color: gold;
                            color: rgb(54, 31, 0);
                            &:hover{
                                background-color: goldenrod;
                            }
                        }
                    }
                }
            } 
            .nomemberLoginWrap{ //li 비회원
                text-align: left;
                .loginContents{
                    width: 600px;
                    margin: 0 auto;
                    >div{
                        padding: 50px 0 0; 
                    }
                    .nomemberLeft{
                        float: left;
                        width: 50%;
                        font-size: 0.8em;
                        .desc{ //ul
                            padding: 10px 30px 0 50px;
                            border-right: 1px solid #ccc;
                            height: 220px;
                            li{
                                list-style:circle;
                                line-height: 2;
                            }
                        }
                    }
                    .nomemberRight{
                        float: left;
                        width: 40%;
                        padding-left: 30px;                    
                        div{ //공통
                            >label{
                                width: 200px;
                                span{
                                    display: block;
                                    font-weight: bold;
                                }
                                input{
                                    border: 1px solid #ccc;
                                    height: 30px;
                                    width: 90%;
                                    text-indent: 10px;
                                }
                            }
                        }
                    }
                }
                .loginBtnBox_nomember{
                    text-align: center;
                    background: #b40c1a;
                    width: 350px;
                    height: 40px;
                    margin: 30px auto 0;
                    cursor: pointer;
                    &:hover{
                        background-color: #8d0b16;
                    }
                    >a{
                        line-height: 40px;
                        color: #fff;
                    }
                }
            }         
        }       
    }//loginWrap

    //---회원가입
    .joinForm_box{
        width: 650px;
        margin: 50px auto 0;
        .joinForm_wrap{

            .join_title_Wrap{ //ul
                position: relative;
                display: flex;
                li{
                    padding: 0 20px ;
                    font-size: 1.3em;
                    display: block;
                    width: 200px;
                    height: 50px;
                    line-height: 50px;
                    text-align: center;
                    background-color: #eee;
                    border-right: 1px solid #ddd;
                    color: #666;
                    &:last-child{
                        border-radius: none;
                    }
                }
                .select{
                    background-color: #b40c1a;
                    color: #fff;
                }               
            }
            form{
                background-color: #efefef;
                margin: 20px 0 0 0;
                padding: 30px;
                .joinSocial_wrap{

                    .social_login{
                        display: inline-block;
                        
                        span{
                            display: block;
                            width: 200px;
                            height: 30px;
                            line-height: 30px;
                            font-size: 1.3em;
                            font-weight: bold;
                            color: #666;
                            text-align: center;
                            position: relative;

                            &:before{
                                content: "";
                                display: block;
                                position: absolute;
                                left: 0;
                                top: 0;
                                width: 5px;
                                height: 25px;
                                background-color: #fff;
                            }
                            &:after{
                                content: "";
                                display: block;
                                position: absolute;
                                right: 0;
                                top: 0;
                                width: 1px;
                                height: 30px;
                                background-color: #ccc;
                            }
                        }
                    }
                    .socialBtn_wrap{
                        display: inline-block;
                        margin-left: 20px;
                        >a{
                            padding: 10px 30px;
                            font-size: 1.2em;
                            font-weight: bold;
                            border-radius: 3px;
                        }
                        .naver{
                            background-color: rgb(36, 196, 31);
                            color: #fff;
                        }
                        .kakao{
                            background-color: gold;
                            color: rgb(54, 31, 0);
                        }
                    }
                    .email_login{
                        padding-top: 50px;
                        display: inline-block;

                        span{
                            display: block;
                            width: 200px;
                            height: 30px;
                            line-height: 30px;
                            font-size: 1.3em;
                            font-weight: bold;
                            color: #666;
                            text-align: center;
                            position: relative;

                            &:before{
                                content: "";
                                display: block;
                                position: absolute;
                                left: 0;
                                top: 0;
                                width: 5px;
                                height: 25px;
                                background-color: #fff;
                            }
                            &:after{
                                content: "";
                                display: block;
                                position: absolute;
                                right: 0;
                                top: 0;
                                width: 1px;
                                height: 30px;
                                background-color: #ccc;
                            }
                        }
                    }
                    .label_wrap{
                        display: inline-block;
                        height: 40px;
                        line-height: 40px;
                        margin-left: 20px;
                        background-color: #fff;
                        border: 1px solid #ccc;
                        label{
                            padding-left: 10px;
                            font-weight: bold;
                        }
                        input{
                            border: none;
                            outline: none;
                            line-height: 30px;
                            padding: 0 30px 0;
                        }
                    }
                }               
            }//form
            .joinBtn_wrap{
                margin: 30px auto;
                background-color: #E60012;
                width: 350px;
                height: 40px;
                line-height: 40px;
                text-align: center;
                >a{
                    color: #fff;
                    font-weight: bold;
                    font-size: 1.3em;
                }
            }
        }
    }
}