@import url(../css/common.css);

$mainColor:#E60012;
$hovColor:#C39C71;

//반응형
$Mobile1279:1279px;
$Mobile1000:1000px;
$Mobile767:767px;
$Mobile480:480px;
$Mobile375:375px; //iPhone SE
$Mobile280:280px; //Galaxy Fold

@mixin respond($media){
    @media screen and (max-width:$media) {
        @content;
    }
} 

#container{
    width: 100%;
    // height: 70vh;
    height: 100vh;
    position: relative;
    @include respond($Mobile480){
        height: 100vh;
        top: -140px;
    } 

    .pageTitle{
        text-align: center;
        margin-top: 150px;
        font-size: 25px;
        color: #444;
        @include respond($Mobile480){
            margin-top: 200px;            
        } 
    }
    //로그인
    .loginWrap{
        width: 600px;
        height: 500px;
        background: #fff;
        filter: drop-shadow(1px 1px 5px #666);
        position: absolute;
        top: 35%;
        right: 50%;
        transform: translate(50%, -50%);

        @include respond($Mobile480){
            top: 50%;
            width: 80%;
            filter: none;
        }
        .popupColse{
            display: block;
            width: 100%;
            height: 40px;
            text-align: center;
            cursor: pointer;
            padding: 5px 0;
            >img{
                height: 100%;
            }
        }
        .memberSelect{
            display: block;
            width: 100%;
            >span{
                background: #ccc;
                display: inline-block;
                width: 50%;
                height: 45px;
                float: left;
               
                &.tab{
                    background: $mainColor;
                }
                a{
                    display: block;
                    text-align: center;
                    line-height: 45px;
                    font-size: 16px;  
                    color: #fff;
                    font-weight: bold;
                }                
            }
        }
        .loginTab{ //ul
            position: relative;
            width: 100%;
            margin: 0 auto;
            >li{
                position: absolute;
                text-align: center;
                width: 100%;
                line-height: 2;
                display: none;

                &.onThis{
                    display: block;
                }
            }
            .memberLoginWrap{ //li 회원

                .loginContents{                    

                    .meminputBox{
                        width: 350px;
                        margin: 0 auto;
                        @include respond($Mobile480){
                            width: 300px;
                        } 

                        >span{
                            display: block;
                            padding: 30px 0;
                            font-size: 1em;
                            @include respond($Mobile480){
                                padding: 20px 0;
                            } 
                        }
                        >label{
                            display: flex;
                            border: 1px solid #ccc;
                            justify-content: space-between;
                            padding: 5px 5px 5px 15px;
                            margin: 5px 0;
                            @include respond($Mobile480){
                                padding: 5px 5px 5px 10px;
                            } 
                           
                            span{
                                font-weight: bold;     
                                @include respond($Mobile480){
                                    font-size: 0.9em;
                                }                         
                            }
                            input{
                                width: 230px;
                                outline: none;
                                border: none;
                                border-left: 1px solid #ccc;
                                text-indent: 10px;
                                @include respond($Mobile480){
                                    width: 200px;
                                }
                            }
                        }                        
                    }
                    >p{
                        width: 100%;
                        @include respond($Mobile480){
                            text-align: left;
                            // padding-left: 20px;                            
                         }
                        span{
                            padding: 0 65px;
                            @include respond($Mobile480){
                                padding: 0;
                             }

                        }
                    }
                    .loginBtnBox{
                        width: 350px;
                        height: 40px;
                        margin: 20px auto;
                        @include respond($Mobile480){
                            width: 300px;
                        }
                        
                        a{
                            display: inline-block;
                            height: 100%;
                            line-height: 40px;
                            float: left;
                            color: #fff;
                            @include respond($Mobile480){
                                width: 49%;
                            }                            
                        }
                        >.btnLogin{
                            width: 70%;
                            background-color: #b40c1a;
                            margin-right: 10px;
                            &:hover{
                            background-color: #8d0b16;
                            }
                            @include respond($Mobile480){
                                width: 49%;
                                margin-right: 3px;
                            } 
                        }
                        >.btnJoin{
                            width: 27%;
                            background-color: #666;
                            @include respond($Mobile480){
                                width: 49%;
                            }
                        }
                    }
                    .soc{
                        width: 100%;
                        text-align: center;
                        margin: 0 auto; 
                        >a{
                            padding-left: 30px;
                            color: blue;
                        }
                    }
                    .loginBtnBox_social{
                        width: 350px;
                        height: 40px;
                        margin: 20px auto;  
                        @include respond($Mobile480){
                            width: 300px;
                        }                         
                        a{
                            display: inline-block;
                            height: 100%;
                            line-height: 40px;
                            font-weight: bold;
                        }
                        .naverLogin{
                            width: 50%;
                            color: #fff;
                            background-color: rgb(36, 196, 31);
                            &:hover{
                                background-color: darkgreen;
                            }
                            @include respond($Mobile480){
                                width: 49%;
                            }  
                        }
                        .kakaoLogin{
                            width: 49%;
                            background-color: gold;
                            color: rgb(54, 31, 0);
                            &:hover{
                                background-color: goldenrod;
                            }
                        }
                    }
                }
            } 
            .nomemberLoginWrap{ //li 비회원
                text-align: left;
                .loginContents{
                    width: 600px;
                    margin: 0 auto;
                    @include respond($Mobile480){
                        width: 300px; 
                    } 
                    >div{
                        padding: 50px 0 0; 
                        @include respond($Mobile480){
                            padding: 10px 0 0; 
                        } 
                    }
                    .nomemberLeft{
                        float: left;
                        width: 50%;
                        font-size: 0.8em;
                        @include respond($Mobile480){
                            width: 100%; 
                        } 
                        .desc{ //ul
                            padding: 10px 30px 0 50px;
                            border-right: 1px solid #ccc;
                            height: 220px;
                            @include respond($Mobile480){
                                padding: 0 10px 0 20px;
                                height: 130px; 
                                border-right: none;
                                border-bottom: 1px solid #ccc;
                            } 
                            li{
                                list-style:circle;
                                line-height: 2;
                            }
                        }
                    }
                    .nomemberRight{
                        float: left;
                        width: 40%;
                        padding-left: 30px;      
                        @include respond($Mobile480){
                            float: none;
                            width: 100%;
                            padding-left: 0;
                        }              
                        div{ //공통
                            >label{
                                width: 200px;
                                span{
                                    display: block;
                                    font-weight: bold;
                                }
                                input{
                                    border: 1px solid #ccc;
                                    height: 30px;
                                    width: 90%;
                                    text-indent: 10px;
                                    @include respond($Mobile480){
                                        width: 100%;
                                    } 
                                }
                            }
                        }
                    }
                }
                .loginBtnBox_nomember{
                    text-align: center;
                    background: #b40c1a;
                    width: 350px;
                    height: 40px;
                    margin: 30px auto 0;
                    cursor: pointer;
                    @include respond($Mobile480){
                        width: 100%;
                        margin: 15px auto 0;
                    } 
                    &:hover{
                        background-color: #8d0b16;
                    }
                    >a{
                        line-height: 40px;
                        color: #fff;
                    }
                }
            }         
        }       
    }//loginWrap

//-------회원가입
    .joinForm_box{
        width: 650px;
        margin: 50px auto 0;
        @include respond($Mobile480){
            width: 300px;
        }
        .joinForm_wrap{
            width: 650px;
            @include respond($Mobile480){
                width: 100%;
            }
            .join_title_Wrap{ //ul
                position: relative;
                display: flex;
                width: 100%;
                li{
                    font-size: 1.3em;
                    font-weight: bold;
                    display: block;
                    width: 33.3%;
                    height: 50px;
                    line-height: 50px;
                    text-align: center;
                    background-color: #ccc;
                    border-right: 1px solid #ddd;
                    color: #666;
                    @include respond($Mobile480){
                        font-size: 1em;
                        width: 100%;
                    }

                    &:last-child{
                        border-right: none;
                    }
                }
                .select{
                    background-color: #b40c1a;
                    color: #fff;
                }               
            }
            form{ 
                background-color: #efefef;
                margin: 20px 0 0 0;
                padding: 30px;
                @include respond($Mobile480){
                    padding: 15px;                        
                }
                .joinSocial_wrap{                   

                    .social_login{
                        display: inline-block;
                        
                        span{
                            display: block;
                            width: 200px;
                            height: 30px;
                            line-height: 30px;
                            font-size: 1.3em;
                            font-weight: bold;
                            color: #666;
                            text-align: center;
                            position: relative;
                            @include respond($Mobile480){
                                font-size: 1em;
                                text-align: left;
                                padding-left: 10px;
                            }

                            &:before{
                                content: "";
                                display: block;
                                position: absolute;
                                left: 0;
                                top: 0;
                                width: 5px;
                                height: 25px;
                                background-color: #fff;
                            }
                            &:after{
                                content: "";
                                display: block;
                                position: absolute;
                                right: 0;
                                top: 0;
                                width: 1px;
                                height: 30px;
                                background-color: #ccc;
                                @include respond($Mobile480){
                                    display: none;
                                }
                            }
                        }
                    }
                    .socialBtn_wrap{
                        display: inline-block;
                        margin-left: 20px;
                        width: 300px;
                        @include respond($Mobile480){
                            margin-left: 0;
                            width: 100%;
                        }
                        >a{
                            display: inline-block;
                            padding: 10px 0;
                            font-size: 1.2em;
                            font-weight: bold;
                            border-radius: 3px;
                            text-align: center;
                        }
                        .naver{
                            background-color: rgb(3, 199, 90);
                            color: #fff;
                            width: 49%;
                        }
                        .kakao{
                            background-color: gold;
                            color: rgb(54, 31, 0);
                            width: 49%;
                        }
                    }
                    .email_login{
                        padding-top: 50px;
                        display: inline-block;
                        @include respond($Mobile480){
                            padding-top: 30px;
                        }

                        span{
                            display: block;
                            width: 200px;
                            height: 30px;
                            line-height: 30px;
                            font-size: 1.3em;
                            font-weight: bold;
                            color: #666;
                            text-align: center;
                            position: relative;
                            @include respond($Mobile480){
                                font-size: 1em;
                                text-align: left;
                                padding-left: 10px;
                            }

                            &:before{
                                content: "";
                                display: block;
                                position: absolute;
                                left: 0;
                                top: 0;
                                width: 5px;
                                height: 25px;
                                background-color: #fff;
                            }
                            &:after{
                                content: "";
                                display: block;
                                position: absolute;
                                right: 0;
                                top: 0;
                                width: 1px;
                                height: 30px;
                                background-color: #ccc;
                                @include respond($Mobile480){
                                    display: none;
                                }
                            }
                        }
                    }
                    .label_wrap{
                        display: inline-block;
                        width: 300px;
                        height: 40px;
                        line-height: 40px;
                        margin-left: 20px;
                        background-color: #fff;
                        border: 1px solid #ccc;
                        box-sizing: border-box;
                        position: relative;
                        @include respond($Mobile480){
                            width: 100%;
                            margin-left: 0;
                        }
                        label{
                            padding-left: 10px;
                            font-weight: bold;
                        }
                        input{
                            border: none;
                            outline: none;
                            padding-left:20px;
                            @include respond($Mobile480){
                                padding-left: 5px;                        
                            }
                        }
                        #emailError{
                            color: red;
                            position: absolute;
                            top: 30px;
                        }
                    }
                }      
                //step-2 form
                .join-detail{       
                    margin: 10px auto;  
                    display: block;
                    width: 300px;      

                    select{
                        border: 1px solid #ccc;
                        font-size: 0.95em;
                    }
                    >label{
                        font-weight: bold;     
                         
                        >input{
                            width: 100%;
                            box-sizing: border-box;
                            display: block;
                            margin: 5px 0;
                            padding: 5px;
                            // border: 1px solid #ccc;
                            border: none;
                            border-radius: 5px;
                            font-size: 0.9em;
                            @include respond($Mobile480){
                                width: 90%;          
                            } 
                        }
                        .userNum{
                            color: #fff;
                            background: #666;
                            padding: 5px;
                            border-radius: 8px;
                            font-size: 0.8em;
                        }
                        .timeLimit{
                            color: red;
                            padding-left: 10px;
                        }
                        .lookTxt{
                            color: blue;
                            padding-left: 20px;
                        }
                    } 
                }   
            }
            .joinBtn_wrap{
                margin: 30px auto;
                text-align: center;
               
                button{
                    color: #fff;
                    font-weight: bold;
                    font-size: 1.3em;
                    border: none;
                    background: #E60012;
                    width: 350px;
                    height: 40px;
                    line-height: 40px;
                    @include respond($Mobile480){
                        width: 100%;
                    }
                    &:hover{
                      filter: drop-shadow(1px 1px 2px #666);
                    }
                }              
            }
            .prevBtn_wrap{
                margin: 5px 0 0;
                button{
                    color: #fff;
                    background: $hovColor;
                    border: none;
                    padding: 5px;
                }
            }
        }
    }
}